doctype html
html
  head
    title Formula test
    script(src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous")
  body
    p Is it a valid logical formula?
    p#formula= formula

    button#formula-yes Yes
    button#formula-no No

    div#result

    script
      include js/formulaTest.js
