doctype html
html
  head
    title Navigation
  body
    a#convert-route(href="/convert") Convert to PCNF
    br
    a#pcnf-test-route(href="/pcnf-test") PCNF testing
    br
    a#formula-test-route(href="/formula-test") Formula testing
